form {
	background-color: $red;
	padding-bottom: 1rem;
}

textarea {
	display: block;
	overflow: auto;
    outline: none;
	resize: none;
	border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
 
    width: calc(100% - 2rem);
    margin: 0 auto 1rem auto;
    padding: 1rem;

    font-family: $times;
}

button {
	display: block;
	box-sizing: border-box;
	border: none;
	width: calc(100% - 2rem);
	margin: 0 auto;
	padding: 1rem;

	background-color: $white;
	color: $red;
}

.hide {
	display: none;
	visibility: hidden;
}