form {
	background-color: $red;
	padding-bottom: 1rem;
	box-sizing: border-box;

	height: calc(100% - 72px + 1rem);
	@include media-query(tabl) {
		height: calc(100% - 77px + 1.5rem);
		padding-bottom: 1.5rem;
	}
	@include media-query(lap) {
		height: calc(100% - 114px + 1rem);
	}
	@include media-query(desk) {
		height: calc(100% - 157px + 1rem);
	}
}

textarea {
	display: block;
	overflow: auto;
    outline: none;
	resize: none;
	border: none;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    margin: 0 auto 1rem auto;
    padding: 1rem;
 
    width: calc(100% - 2rem);
    height: calc(100% - 92px - 2rem);

    font-family: $times;
    font-size: 1.5em;
    line-height: 1.2;
    @include media-query(tabl-and-up) {
    	font-size: 2em;
    	width: calc(100% - 3rem);
    	height: calc(100% - 57px - 3rem);
    	margin-bottom: 1.5rem;
    	padding: 1.5rem;
    }
    @include media-query(lap) {
    	width: calc(100% - 4rem);
    	height: calc(100% - 94px - 4rem);
    	margin-bottom: 2rem;
    	padding: 2rem;
    }
    @include media-query(desk) {
    	width: calc(100% - 6rem);
    	height: calc(100% - 135px - 6rem);
    	margin-bottom: 3rem;
    	font-size: 3em;
    	padding: 3rem;
    }
    @include media-query(desk-wide) {
    	font-size: 4em;
    }
    @include media-query(desk-super-wide) {
    	font-size: 5em;
    }

    &::selection {
    	background: $red;
    }
}

button {
	display: block;
	box-sizing: border-box;
	outline: none;
	border: none;
	width: calc(100% - 2rem);
	margin: 0 auto;
	padding: 1rem;

	background-color: $white;
	color: $red;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
    -webkit-border-radius: 0;

	@include media-query(tabl){
		width: calc(100% - 3rem);
		font-size: 1.25em;
		padding: 1rem;
	}
	@include media-query(tabl-and-up) {
		br {
			display: none;
		}
	}
	@include media-query(lap){
		width: calc(100% - 4rem);
		font-size: 1.5em;
		padding: 2rem;
	}
	@include media-query(desk){
		width: calc(100% - 6rem);
		font-size: 2em;
		padding: 3rem;
	}
}

.hide {
	display: none;
	visibility: hidden;
}