form {
	background-color: $red;
	padding-bottom: 1rem;
	box-sizing: border-box;

	height: calc(100% - 72px + 2rem);
	@include media-query(tabl) {
		height: calc(100% - 77px + 2.5rem);
		padding-bottom: 1.5rem;
	}
	@include media-query(lap-and-up) {
		height: calc(100% - 114px + 2rem);
	}
	@include media-query(desk-super-wide) {
		height: calc(100% - 157px + 1rem);
	}
}

textarea {
	display: block;
	overflow: auto;
    outline: none;
	resize: none;
	border: none;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    margin: 0 auto 1rem auto;
    padding: 1rem;
 
    width: calc(100% - 2rem);
    height: calc(100% - 92px - 3rem);

    font-family: $times;
    font-size: 2em;
    line-height: 1.2;

    transition: all 0.3s $bezier;
    
    @include media-query(tabl) {
    	font-size: 3em;
    	width: calc(100% - 3rem);
    	height: calc(100% - 57px - 4rem);
    	margin-bottom: 1.5rem;
    	padding: 1.5rem;
    }
    @include media-query(lap-and-up) {
    	width: calc(100% - 4rem);
    	height: calc(100% - 94px - 5rem);
    	margin-bottom: 2rem;
    	padding: 2rem;
    	font-size: 4em;
    }
    @include media-query(desk-wide) {
    	font-size: 4em;
    }
    @include media-query(desk-super-wide) {
    	width: calc(100% - 6rem);
    	height: calc(100% - 135px - 6rem);
    	margin-bottom: 3rem;
    	font-size: 6em;
    	padding: 3rem;
    }

    &::selection {
    	background: $red;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) { 
	textarea {
		height: 245px;
	}
}

button {
	position: relative;
	outline: none;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	outline: none;
	border: none;
	width: calc(100% - 2rem);
	margin: 0 auto;
	padding: 1rem;

	background-color: $white;
	color: $red;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
    -webkit-border-radius: 0;

    transition: all 0.3s $bezier;

	@include media-query(tabl){
		width: calc(100% - 3rem);
		font-size: 1.25em;
	}
	@include media-query(tabl-and-up) {
		br {
			display: none;
		}
	}
	@include media-query(lap-and-up){
		width: calc(100% - 4rem);
		font-size: 1.5em;
		padding: 2rem;
	}
	@include media-query(desk-super-wide){
		width: calc(100% - 6rem);
		font-size: 2em;
		padding: 3rem;
	}
}

button {
	p {
		transition: all 0.3s $bezier;
	}

	&:before {
		content: '♥';
		font-size: 2em;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-55%);
		left: -100%;
		transition: all 0.3s $bezier;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s $bezier;
	}
}

button {
	&:hover {
		transition: all 0.3s $bezier;

		p {
			transform: translateX(300%);
			transition: all 0.3s $bezier;
		}

		&:before {
			left: 0;
			transition: all 0.3s $bezier;
		}
	}
}

.hide {
	display: none;
	visibility: hidden;
}