// Typogrpahy
$helvetica: 'Helvetica Neue', Helveriva, Arial, Verdana, sans-serif;
$maria: 'maria_proregular', 'Helvetica Neue', Helveriva, Arial, Verdana, sans-serif;
$times: Times, 'Times New Roman', Georgia, serif;

// Colors
$red: #fc0d1b;
$blue: #0b24fb;
$white: #fff;